<!DOCTYPE HTML>
<html>
  <head>
    <title>优惠券/码列表</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/js/masonry.pkgd.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript">
        $(document).on("pagechange", function (event) {
            $("#<%= masonryContentId %>").masonry({
                itemSelector: ".post",
                isFitWidth: true
            });
        });		
		$("#<%= masonryContentId %>").fadeTo(0, 0);
        $(document).on("pagechange", function (event) {
            $("#<%= masonryContentId %>").masonry({
                itemSelector: ".post",
                isFitWidth: true
            });
            $("#<%= masonryContentId %>").fadeTo(0, 1);
        });
    </script>
  </head>
  <body>
 <!--<h1>优惠券/码列表</h1>
    <p>这是 LeanEngine 的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
	-->
	<div id="<%= masonryContentId %>" style="margin: 15px auto;" class="js-masonry" data-masonry-options='{ "isFitWidth": true, "itemSelector": ".post" }'>

		<div class="post" style="height:277px">
				 <a data-ajax="true" href="/login?p1=1"><img src="/images/t1.jpg" width="260" /></a>
		</div>
		<div class="post" style="height:277px">
				 <a data-ajax="true" href="/login?p1=2"><img src="/images/t2.jpg" width="260" /></a>
		</div>
		<div class="post" style="height:277px">
				 <a data-ajax="true" href="/login?p1=3"><img src="/images/t3.jpg" width="260" /></a>
		</div>
		<div class="post" style="height:277px">
				 <a data-ajax="true" href="/login?p1=4"><img src="/images/t4.jpg" width="260" /></a>
		</div>
		<div class="post" style="height:277px">
				 <a data-ajax="true" href="/login?p1=5"><img src="/images/t5.jpg" width="260" /></a>
		</div>
		<div class="post" style="height:277px">
				 <a data-ajax="true" href="/login?p1=6"><img src="/images/t6.jpg" width="260" /></a>
		</div>
		<div class="post" style="height:277px">
				 <a data-ajax="true" href="/login?p1=7"><img src="/images/t7.jpg" width="260" /></a>
		</div>
		<div class="post" style="height:277px">
				 <a data-ajax="true" href="/login?p1=8"><img src="/images/t8.jpg" width="260" /></a>
		</div>
	</div>
  </body>
</html>
